


<!-- <div class="wrapper">
  <nav id="sidebar">
      <div class="header">
          <h3>Communication</h3>
          <strong>GP</strong>
      </div>

      <ul class="components">
        <li class="title">Course Info</li>
        <li>
            <a>
                <span class="status-container">
                    <span class="status-icon completed"></span>
                </span>
                <div class="title-container">
                    <i class="fas fa-file-alt"></i>        
                    <span class="lecture-name">CS:GO</span>
                </div>       
            </a>
        </li>
      </ul>

   
  </nav> -->

  <div class="flex-container">




  <div class="flex-item row lecture-sidebar">
    
      <div class="col-sm-12 course-section">
        <div class="section-title" data-release-date="" data-days-until-dripped="" data-is-dripped-by-date="" data-course-id="279463">
          <span class="section-lock">
            <i class="fa fa-lock"></i>&nbsp;
          </span>
          Velkommen
        </div>
        <ul class="section-list">
          
          <li data-lecture-id="4304299" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4304299" class="section-item incomplete next-lecture">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4304299" id="sidebar_link_4304299">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-lightbulb-o"></i>
                </span>
                <span class="lecture-name">
                  Introduktion til kurset
                  
                    (0:38)
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4304516" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4304516" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4304516" id="sidebar_link_4304516">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Velkommen til gamerens verden
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4304726" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4304726" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4304726" id="sidebar_link_4304726">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-lightbulb-o"></i>
                </span>
                <span class="lecture-name">
                  Før du går videre
                  
                    (0:19)
                  
                </span>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      
      <div class="col-sm-12 course-section">
        <div class="section-title" data-release-date="" data-days-until-dripped="" data-is-dripped-by-date="" data-course-id="279463">
          <span class="section-lock">
            <i class="fa fa-lock"></i>&nbsp;
          </span>
          Spillene
        </div>
        <ul class="section-list">
          
          <li data-lecture-id="4334420" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334420" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334420" id="sidebar_link_4334420">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Counter Strike (CS:GO)
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334421" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334421" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334421" id="sidebar_link_4334421">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Leage of Legends (LoL)
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334422" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334422" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334422" id="sidebar_link_4334422">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  New Lecture
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334423" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334423" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334423" id="sidebar_link_4334423">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  DOTA 2
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334428" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334428" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334428" id="sidebar_link_4334428">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  FIFA
                  
                </span>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      
      <div class="col-sm-12 course-section">
        <div class="section-title" data-release-date="" data-days-until-dripped="" data-is-dripped-by-date="" data-course-id="279463">
          <span class="section-lock">
            <i class="fa fa-lock"></i>&nbsp;
          </span>
          Kommunikations værktøjer og inspiration
        </div>
        <ul class="section-list">
          
          <li data-lecture-id="4334468" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334468" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334468" id="sidebar_link_4334468">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Introduktion til familiens kommunikation om gaming
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334465" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334465" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334465" id="sidebar_link_4334465">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Sproget i spillet
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334474" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334474" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334474" id="sidebar_link_4334474">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Inspirations kort og billeder
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334481" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334481" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334481" id="sidebar_link_4334481">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Gamer skemaet
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334485" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334485" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334485" id="sidebar_link_4334485">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Mægliningsskemaet
                  
                </span>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      
      <div class="col-sm-12 course-section">
        <div class="section-title" data-release-date="" data-days-until-dripped="" data-is-dripped-by-date="" data-course-id="279463">
          <span class="section-lock">
            <i class="fa fa-lock"></i>&nbsp;
          </span>
          Psykologisk teori og viden om gaming
        </div>
        <ul class="section-list">
          
          <li data-lecture-id="4334507" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334507" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334507" id="sidebar_link_4334507">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Børns udvikling
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334490" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334490" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334490" id="sidebar_link_4334490">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Positive effekter
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334488" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334488" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334488" id="sidebar_link_4334488">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Negative konsekvenser
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334493" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334493" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334493" id="sidebar_link_4334493">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Afledte effekter/social læring
                  
                </span>
              </div>
            </a>
          </li>
          
          <li data-lecture-id="4334494" data-lecture-url="/courses/foraeldreskolen-om-gaming/lectures/4334494" class="section-item incomplete">
            <a class="item" data-no-turbolink="true" href="/courses/foraeldreskolen-om-gaming/lectures/4334494" id="sidebar_link_4334494">
              <span class="status-container">
                <span class="status-icon">
                  &nbsp;
                </span>
              </span>
              <div class="title-container">
                <span class="lecture-icon">
                  <i class="fa fa-file-text"></i>
                </span>
                <span class="lecture-name">
                  Computerspil og læring
                  
                </span>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
      
    </div>



  <!-- Page Content  -->
  <div id="flex-item content">

      <nav class="navbar">

              <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggle()">
                  <i class="fas fa-align-left"></i>
                  <span>Toggle Sidebar</span>
              </button>

     
      </nav>

      <router-outlet></router-outlet>



</div>
</div>