<div class="container" *ngIf="showFeedback; else showThankyou">



<h3>
    Tell us what you think
</h3>

<div class="wrapper">

  <div class="inner" >
      
      
    <form [formGroup]="feedbackForm" novalidate (ngSubmit)="submitFeedback()">
   
      <div class="rating-wrapper">
          <label>What is your overall feeling about the course?</label>
          <app-rating-star [rating]="6" (ratingClick)='ratingComponentClick($event)'></app-rating-star>

      </div>

      <div class="rating-wrapper">
          <label>How likely is it you would recommend it to a friend?</label>
          <app-rating-star [rating]="6"  (ratingClick)='ratingComponentClick($event)'></app-rating-star>

      </div>      
      
      <div class="field">
        <div class="control">
          <label>Did you find the content different from what you can find on Youtube. If yes how?</label>  
          <textarea [ngClass]="{'is-invalid': q1.invalid  && q1.dirty && q1.touched}" id="q1"
          rows="10"name="q1" title="q1" placeholder="q1" formControlName="q1"></textarea> 
        </div>
      </div>
    
      <div class="field">
          <div class="control">
            <label>Would you be willing to pay for the next course? If no, what would it take?</label>
            <textarea [ngClass]="{'is-invalid': q2.invalid  && q2.dirty && q1.touched}" id="q2"
            rows="10"name="q2" title="q2" placeholder="q2" formControlName="q2"></textarea>

          </div>
        </div>
        
      <span *ngIf="error && feedbackForm.untouched">
        <p  class="text-danger error-txt">{{error}}</p>
      </span>
    
      <button class="btn btn-deepsea" [disabled]="!feedbackForm.valid">Submit</button>
      
      </form>

    </div>

</div>

</div>
<ng-template #showThankyou>
  <div class="container">
      <div class="wrapper">           
      Thank you for your feedback!
      </div>
  </div>
  </ng-template>





