 <div class="auth-bg">
  <div class="text-center auth-container">
  
      <p class="title" *ngIf="showFeedback">Give your opinion!</p> 
      <div class="content">
        <span *ngIf="!showSpinner">
  

          <form [formGroup]="feedbackForm" novalidate (ngSubmit)="submitFeedback()" *ngIf="showFeedback; else showThankyou">
   
            <div class="rating-wrapper">
                <label>What is your overall feeling about the course?</label>
                <app-rating-star [rating]="6" (ratingClick)='ratingClick($event)'></app-rating-star>
            </div>
      
            <div class="rating-wrapper">
                <label>How likely is it you would recommend it to a friend?</label>
                <app-rating-star [rating]="6" (ratingClick)='recommendationClick($event)'></app-rating-star>
            </div>
            
            <div class="field">
              <label>Did you find the content different from what you find on Youtube?</label>
              <div class="control radio-wrapper">
                <label class="radio-container">Yes
                  <input type="radio" name="differentFromYoutube" value="true" formControlName="differentFromYoutube">
                  <span class="checkmark"></span>
                </label>
                <label class="radio-container">No
                    <input type="radio" name="differentFromYoutube" value="false" formControlName="differentFromYoutube">
                    <span class="checkmark"></span>
                </label>
              </div>
          </div>

          <div class="field" *ngIf="feedbackForm.value.differentFromYoutube === 'false'">
              <div class="control">
                 <label>What would you like to see differently?</label>
                <input type="text" name="youtubeResponse" formControlName="youtubeResponse">
              </div>
          </div>

          <div class="field">
              <label>Would you be willing to pay for the next course?</label>
              <div class="control radio-wrapper">
                <label class="radio-container">Yes
                    <input type="radio" name="willingToPay" value="true"  formControlName="willingToPay">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-container">No
                    <input type="radio" name="willingToPay" value="false" formControlName="willingToPay">
                    <span class="checkmark"></span>
                </label>
              </div>
          </div>
        
          <div class="field" *ngIf="feedbackForm.value.willingToPay === 'true'">
              <div class="control">
                 <label>How much? ($USD)</label>
                <input type="number" name="howMuch" step="5" placeholder="$20" formControlName="howMuch">
              </div>
          </div>             
            <span *ngIf="error">
              <p  class="text-danger error-txt">{{error}}</p>
            </span>
          
            <button class="btn btn-primary" [disabled]="!feedbackForm.valid">Submit</button>
            
            </form>

            <ng-template #showThankyou>
                <div>
                    Thank you for your feedback!
                </div>
              </ng-template>
        </span>
        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      </div>    
  </div>
  </div>