 <div class="controls-large">
  <div  class="page-controls" [class.minimized]="minimized">
		<fa-icon [icon]="['fas', 'chevron-circle-left']" routerLink="/courses" class="nav-icon"></fa-icon>
		<fa-icon *ngIf="!showNav" [icon]="['fas', 'list']" (click)="toggleNav()"  class="small-only nav-icon"></fa-icon>
		<fa-icon *ngIf="showNav" [icon]="['fas', 'list']" [rotate]="90" (click)="toggleNav()"  class="small-only nav-icon"></fa-icon>
  </div>
    <div class="control prev" (click)="previous()" *ngIf="!isFirst()"><fa-icon [icon]="['fas', 'arrow-left']" class="control-icon"></fa-icon> Prev</div>
    <div class="control next " [class.control-animation]="isFirst()" (click)="next()" *ngIf="!isLast()">Next and complete <fa-icon [icon]="['fas', 'arrow-right']" class="control-icon"></fa-icon></div>
    <div class="control complete" (click)="complete()" *ngIf="isLast()">Complete<fa-icon [icon]="['fas', 'flag-checkered']" class="control-icon"></fa-icon></div>
</div>


<div class="wrapper">
  <div class="sidebar" [class.minimized]="minimized" *ngIf="courseState.dataLoaded">
      <nav class="main-navigation item no-border">
        <ul [@listAnimation]="sections.length +1">
            <li class="item link title" routerLink='./'>
                <img src="/assets/images/gp-brand.png" alt="GamerPilot Logo">        
                <span class="topic">CS:GO Content</span>
            </li>
    
            <ng-container *ngFor="let section of sections">
                <li class="item section">
                    <span class="order">{{section.order}}</span>
                    <span class="topic">{{section.name}}</span>
                </li>

                <ng-container *ngFor="let lec of section.lectures">
                    <li class="item link"  *ngIf="courseState.isLoggedIn && courseState.isEnrolled" routerLink='./lectures/{{lec.id}}' routerLinkActive="active-link">         
												<app-status class="status" [completed]="isCompleted(lec.id)" [current]="isCurrent(lec.id)"></app-status>
												<app-lecture-icon [type]="lec.lectureType" class="icon"></app-lecture-icon>
                        <span class="label">{{lec.name}} </span>        
                    </li> 

                    <li class="item link disabled"  *ngIf="!courseState.isLoggedIn || !courseState.isEnrolled" >
												<app-status class="status" [completed]="isCompleted(lec.id)" [current]="isCurrent(lec.id)"></app-status>
												<app-lecture-icon [type]="lec.lectureType" class="icon"></app-lecture-icon>
                        <span class="label">{{lec.name}} </span>        
                    </li>
                </ng-container>
            </ng-container>

            <!-- FEEDBACK -->
            <li class="item section">
                <span class="topic">Feedback</span>
            </li>

            <li class="item link" *ngIf="courseState.isLoggedIn && courseState.isEnrolled" routerLink='./feedback' routerLinkActive="active-link">         
								<app-status class="status" [completed]="courseState.hasFeedback"></app-status>
								<fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
                <span class="label">Give your opinion</span>        
            </li> 

            <li class="item link disabled"  *ngIf="!courseState.isLoggedIn || !courseState.isEnrolled" >
								<app-status class="status" [completed]="courseState.hasFeedback"></app-status>
								<fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
                <span class="label">Give your opinion</span>        
            </li>
            <!-- FEEDBACK END-->
            
          
    
        </ul>
      </nav>
      <a class="item sidebar-toggle section" (click)="toggle()">
					<fa-icon *ngIf="minimized" [icon]="['fas', 'long-arrow-alt-right']" class="icon"></fa-icon>
					<fa-icon *ngIf="!minimized" [icon]="['fas', 'long-arrow-alt-left']" class="icon"></fa-icon>
          <span class="label">Minimize</span>
      </a>
  </div>

  <div class="sidebar" [class.minimized]="minimized" *ngIf="!courseState.dataLoaded">
        <nav class="main-navigation item no-border">
          <ul>
              <li class="item link title" routerLink='./'>
                  <img src="/assets/images/gp-brand.jpg" alt="GamerPilot Logo">        
                  <span class="topic"></span>
              </li>
      
              <ng-container *ngFor="let n of [0,1,2,3,4,5]">
                <li class="item section">
                    <span class="order"></span>
                    <span class="topic"></span>
                </li>
  
                <li class="item link">         
                    <i class="status"></i>
                    <i class="icon"></i>
                    <span class="label"></span>        
                </li> 
    
              </ng-container>
           
      
          </ul>
        </nav>
        <a class="item sidebar-toggle section" (click)="toggle()">
						<fa-icon *ngIf="minimized" [icon]="['fas', 'long-arrow-alt-right']" class="icon"></fa-icon>
						<fa-icon *ngIf="!minimized" [icon]="['fas', 'long-arrow-alt-left']" class="icon"></fa-icon>
            <span class="label">Minimize</span>
        </a>
    </div>

  <div class="header-dropdown" *ngIf="showNav">
      <nav class="main-nav">
        <ul class="nav">
          <li *ngFor="let lecture of lectures" class="item link nav-link"
            routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link" (click)="toggleNav()">
						<app-status class="status" [completed]="isCompleted(lecture.id)" [current]="isCurrent(lecture.id)"></app-status>

						<app-lecture-icon [type]="lecture.lectureType" class="icon"></app-lecture-icon>
            <span class="label">{{lecture.name}} </span>        
          </li>    
          <li class="item link nav-link" *ngIf="courseState.isLoggedIn && courseState.isEnrolled" (click)="toggleNav()" routerLink='./feedback' routerLinkActive="active-link" >
								<app-status class="status" [completed]="courseState.hasFeedback"></app-status>

								<fa-icon [icon]="['fas', 'file-alt']" class="icon"></fa-icon>
                <span class="label">Feedback</span>        
            </li>
          

        </ul>
      </nav>
  </div>
          
					
	
  <div class="content" *ngIf="courseState.dataLoaded; else loading">
					<!-- Not enrolled or Not logged in-->
			<div class="container" *ngIf="showLockedComponent()">
					<app-locked-content (enrolled)="enrollUser($event)"></app-locked-content>
				</div>
		
				<!-- Show next lecture-->
				<div class="container" *ngIf="showNextLectureComponent()">
						<app-next-lecture (nextClicked)="goToNextLecture()"></app-next-lecture>
				</div>
		
				<!-- Show completeed-->
				<div class="container" *ngIf="showCompletedComponent()">
						<app-completed-course [url]="url" [hasFeedback]="courseState.hasFeedback" (firstClicked)="goToFirst()"></app-completed-course>
				</div>
    <router-outlet></router-outlet>
	</div>
	
	<ng-template #loading>
		<div class="content container" *ngIf="!courseState.dataLoaded">
				<app-loading-spinner></app-loading-spinner>
		</div>
</ng-template>

  
      
</div>





