@import '~sass/fonts';
@import '~sass/variables';
@import '~sass/mixins';

$gutter: 40px;


.disabled {
    cursor: not-allowed !important;
 }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: stretch;
		padding-top: 52px;

    @media only screen and (min-width : 1200px) {
        flex-direction: row;
    }

    
    .sidebar-toggle {
        background-color: #e8e8e8;
        cursor: pointer;
        display: flex;
        margin-top: auto;
        border-bottom: 0;
        border-top: 1px solid getColor('border', 'primary');
    
        .label {
            text-transform: uppercase;
            font-size: typeScale(1);
        }
    }
}

.content {
    flex: 1;
    min-height: 100%;
}

.controls-large {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 99999;
    
    .control {
        flex-grow: 1;
        padding: 16px;
        color: #fff;
        text-align: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        position: relative;

        &:hover {
            cursor: pointer;
            opacity: 0.95;
        }
        

        .control-icon {
            padding-right: 5px;
            padding-left: 5px;
        }

        &.prev {
            background-color: $secondary;
        }

        &.next, &.complete {
            background-color: $primary;
        }
    }
    
    .page-controls {
        width: $gutter * 9;
        padding: 10px 16px;
        background-color: $secondary;    
        border-right: 1px solid #D7DADB;
        transition: width, filter;
				transition-duration: 0.5s;
				box-sizing: border-box;

        @media only screen and (max-width : 1200px) {
            width: $gutter * 3;
        }

        .nav-icon {
            color: white;
            font-size: 26px;
            padding-top: 4px;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }

        .small-only {
            display: inline-block;
            margin-left: 20px;
            transition: all .3s linear;
            
            
            
            @media only screen and (min-width : 1200px) {
                display: none;
            }
        }

        .fa-rotate-90 {
            padding-left: 0px;
            color: $primary !important;
        }

        &.minimized {
            width: $gutter * 2.5;
        }
    }
    
}

.active-link {
    background-color: #d4ebe9;

    &:focus, &:active, &:visited  {
        outline: 0;
    }
}

/* Large screen */ 
.main-navigation {
    ul {
        display: flex;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column;

        @media only screen and (max-width : 1200px) {
            flex-direction: row;
        }

        .label {
            font-size: typeScale(1);
        }
    }
}

.sidebar {
    display: flex;
    background-color: #f7f7f7;
    color: black;
    flex-direction: column;
    transition: width, filter;
    transition-duration: 0.5s;
    width: $gutter * 9;
    box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.15);
    border-right: 1px solid #D7DADB;
    border-bottom: 1px solid #D7DADB;
    flex-shrink: 1;

    @media only screen and (max-width : 1200px) {
        display: none;
    }
}

.item {
    display: flex;
    align-items: center;

    &.no-border {
        border: 0;
    }

    &.link {
        cursor: pointer;
				min-height: 46px;
				background: linear-gradient(45deg, rgb(253, 253, 253), rgb(209, 209, 209));




        &:hover {
            background-color: #d4ebe9;
        }

      
    }

    .icon,
    .label {
        line-height: 15px;
        padding: 13px;
    }

    .status {
				padding: 13px;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
        font-size: 20px;
        color: $primary;

    }

    .title {
        font-size: 20px;
        padding: 26px;
        font-weight: bold;
        line-height: 29px;
        background-color: #ffffff;

        img {
            max-width: 40px;
            padding-right: 15px;
        }

    }

    .section {
        /* background-color: #e9ecef; */
        padding: 10px 16px;
				min-height: 44px;
				background: linear-gradient(90deg, rgb(218, 217, 217), rgb(209, 205, 205));
				color: rgb(255, 247, 247);


        .order {   
            opacity: 0;
        }
    }

    .icon {
        font-size: 16px;
				text-align: center;
				padding-right: 3rem;
        width: 45px;
        color: #425252;
        &:before {
            display: block;
        }
    }

    .label {
        display: none;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
        font-size: 15px;
        letter-spacing: 0px;
        color: #425252;
    }
}

.sidebar-toggle {
    display: none;
}

.minimized {
    width: $gutter * 2.5;

    .item {
        .label {
            opacity: 0;
        }
		}
		
		.status {
			padding-right: .5rem;
		}

    .section, .title {
        .topic {
            opacity: 0;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 

        }

        .order {
            padding-left: 40%;
            opacity: 1;
        }
    }
}



.topic {
    font-family: $font-stack;
    font-weight: 700;
}

.item {
    .icon,
    .label {
        display: block;
    }

    .label {
        opacity: 1;
        transition: opacity;
        transition-duration: 0.5s;
        padding-left: 0;
    }

}

.header-dropdown {
    flex: 1;
    position: absolute;
    top: 56px;
    width: 100%;
    align-items: center;
    display: flex;
    z-index: 99999;

    @media only screen and (min-width : 1200px) {
        display: none;
    }
   
    .main-nav {
        width:100%;
        background-color: white;

        ul li {
            border-bottom: 1px solid #D7DADB;        
        }
    }
    
    .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
        width: 100%;

        .nav-link {
            border: 1px solid #DFDFDF;
            font-size: 18px;
            color: #032327;
            line-height: 52px;
            font-weight: 400;
            letter-spacing: 0;
            cursor: pointer;
          }
      }   
  }

.get-started {
    text-align: center;
    margin-top: 100px;

    .btn-start {
        @include btn-gp;
    }
}
  

.control-animation {
  -webkit-animation: blink 2s linear infinite;
  -moz-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}



@keyframes blink {  
    0% { 
        background-color: lighten($primary, 10%); 
    }
    50% {
        background-color: lighten($primary, 5%); 
    }
    100% {  
        background-color: $primary; 
    }
  }
  @-webkit-keyframes blink {
    0% { 
        background-color: lighten($primary, 10%); 
    }
    50% {
        background-color: lighten($primary, 5%); 
    }
    100% {  
        background-color: $primary; 
    }
  }