@import './fonts';
@import './variables';

@mixin transition($property) {
    -webkit-transition: background-color $property linear;
    -ms-transition: background-color $property linear;
    transition: background-color $property linear;
}

@mixin btn-gp {
    display: inline-block !important;
    padding: 1.3rem 4rem 1.3rem 4rem; //top-right-bot-left
    font-family: inherit;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2.1875rem;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    display: block;
    background-color: $primary;
    font-size: 18px;

    &:hover {
        cursor: pointer;
    }
}


@mixin title {
    font-family: $font-stack;
    color: white;
    margin-bottom: 15px;
  }

  @mixin block {
    padding: 20px;
    padding-top: 0;
    border-left: 5px solid;
    border-radius: 3px;
    text-align: left;
}