$main: #262935;
$blue: #4a90e2;
$highlight: #1f69c1;
$darkblue: darken($blue, 40%);
$grey: #474b57;
$white: #fff;


$primary: #074B4B;
$secondary: #44C897;



$danger: #dc3545;
$success: #28a745;

$mobile: 767px;
$tablet: 992px;


$deepsea: #074B4B;
$eden: #115B47;
$puerto: #44C897;
$mantis: #79CE6D;


