
  
  @-webkit-keyframes svgAnimate-1 {
    0% {
      opacity: 1;
      -webkit-transform: translate(0px, 117px) rotate(-25deg);
      transform: translate(0px, 117px) rotate(-25deg);
    }
  
    5% {
      -webkit-transform: translate(29px, 93px) rotate(-19deg);
      transform: translate(29px, 93px) rotate(-19deg);
    }
  
    10% {
      -webkit-transform: translate(59px, 74px) rotate(-13deg);
      transform: translate(59px, 74px) rotate(-13deg);
    }
  
    15% {
      -webkit-transform: translate(89px, 58px) rotate(-7deg);
      transform: translate(89px, 58px) rotate(-7deg);
    }
  
    20% {
      -webkit-transform: translate(120px, 45px) rotate(-3deg);
      transform: translate(120px, 45px) rotate(-3deg);
    }
  
    25% {
      -webkit-transform: translate(149px, 35px) rotate(-1deg);
      transform: translate(149px, 35px) rotate(-1deg);
    }
  
    30% {
      -webkit-transform: translate(179px, 27px) rotate(3deg);
      transform: translate(179px, 27px) rotate(3deg);
    }
  
    35% {
      -webkit-transform: translate(208px, 21px) rotate(5deg);
      transform: translate(208px, 21px) rotate(5deg);
    }
  
    40% {
      -webkit-transform: translate(238px, 16px) rotate(10deg);
      transform: translate(238px, 16px) rotate(10deg);
    }
  
    45% {
      -webkit-transform: translate(268px, 13px) rotate(12deg);
      transform: translate(268px, 13px) rotate(12deg);
    }
  
    50% {
      -webkit-transform: translate(298px, 12px) rotate(16deg);
      transform: translate(298px, 12px) rotate(16deg);
    }
  
    55% {
      -webkit-transform: translate(328px, 12px) rotate(19deg);
      transform: translate(328px, 12px) rotate(19deg);
    }
  
    60% {
      -webkit-transform: translate(358px, 14px) rotate(21deg);
      transform: translate(358px, 14px) rotate(21deg);
    }
  
    65% {
      -webkit-transform: translate(388px, 18px) rotate(24deg);
      transform: translate(388px, 18px) rotate(24deg);
    }
  
    70% {
      -webkit-transform: translate(417px, 23px) rotate(28deg);
      transform: translate(417px, 23px) rotate(28deg);
    }
  
    75% {
      -webkit-transform: translate(447px, 29.3px) rotate(32deg);
      transform: translate(447px, 29.3px) rotate(32deg);
    }
  
    80% {
      -webkit-transform: translate(477px, 38px) rotate(35deg);
      transform: translate(477px, 38px) rotate(35deg);
    }
  
    85% {
      -webkit-transform: translate(507px, 50px) rotate(38deg);
      transform: translate(507px, 50px) rotate(38deg);
    }
  
    90% {
      opacity: 1;
      -webkit-transform: translate(537px, 64px) rotate(43deg);
      transform: translate(537px, 64px) rotate(43deg);
    }
  
    95% {
      -webkit-transform: translate(567px, 81px) rotate(48deg);
      transform: translate(567px, 81px) rotate(48deg);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translate(597px, 102px) rotate(56deg);
      transform: translate(597px, 102px) rotate(56deg);
    }
  }
  
  
  @keyframes svgAnimate-1 {
    0% {
      opacity: 1;
      -webkit-transform: translate(0px, 117px) rotate(-25deg);
      transform: translate(0px, 117px) rotate(-25deg);
    }
  
    5% {
      -webkit-transform: translate(29px, 93px) rotate(-19deg);
      transform: translate(29px, 93px) rotate(-19deg);
    }
  
    10% {
      -webkit-transform: translate(59px, 74px) rotate(-13deg);
      transform: translate(59px, 74px) rotate(-13deg);
    }
  
    15% {
      -webkit-transform: translate(89px, 58px) rotate(-7deg);
      transform: translate(89px, 58px) rotate(-7deg);
    }
  
    20% {
      -webkit-transform: translate(120px, 45px) rotate(-3deg);
      transform: translate(120px, 45px) rotate(-3deg);
    }
  
    25% {
      -webkit-transform: translate(149px, 35px) rotate(-1deg);
      transform: translate(149px, 35px) rotate(-1deg);
    }
  
    30% {
      -webkit-transform: translate(179px, 27px) rotate(3deg);
      transform: translate(179px, 27px) rotate(3deg);
    }
  
    35% {
      -webkit-transform: translate(208px, 21px) rotate(5deg);
      transform: translate(208px, 21px) rotate(5deg);
    }
  
    40% {
      -webkit-transform: translate(238px, 16px) rotate(10deg);
      transform: translate(238px, 16px) rotate(10deg);
    }
  
    45% {
      -webkit-transform: translate(268px, 13px) rotate(12deg);
      transform: translate(268px, 13px) rotate(12deg);
    }
  
    50% {
      -webkit-transform: translate(298px, 12px) rotate(16deg);
      transform: translate(298px, 12px) rotate(16deg);
    }
  
    55% {
      -webkit-transform: translate(328px, 12px) rotate(19deg);
      transform: translate(328px, 12px) rotate(19deg);
    }
  
    60% {
      -webkit-transform: translate(358px, 14px) rotate(21deg);
      transform: translate(358px, 14px) rotate(21deg);
    }
  
    65% {
      -webkit-transform: translate(388px, 18px) rotate(24deg);
      transform: translate(388px, 18px) rotate(24deg);
    }
  
    70% {
      -webkit-transform: translate(417px, 23px) rotate(28deg);
      transform: translate(417px, 23px) rotate(28deg);
    }
  
    75% {
      -webkit-transform: translate(447px, 29.3px) rotate(32deg);
      transform: translate(447px, 29.3px) rotate(32deg);
    }
  
    80% {
      -webkit-transform: translate(477px, 38px) rotate(35deg);
      transform: translate(477px, 38px) rotate(35deg);
    }
  
    85% {
      -webkit-transform: translate(507px, 50px) rotate(38deg);
      transform: translate(507px, 50px) rotate(38deg);
    }
  
    90% {
      opacity: 1;
      -webkit-transform: translate(537px, 64px) rotate(43deg);
      transform: translate(537px, 64px) rotate(43deg);
    }
  
    95% {
      -webkit-transform: translate(567px, 81px) rotate(48deg);
      transform: translate(567px, 81px) rotate(48deg);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translate(597px, 102px) rotate(56deg);
      transform: translate(597px, 102px) rotate(56deg);
    }
  }
  
  
  @-webkit-keyframes svgAnimate-2 {
    0% {
      opacity: 1;
      -webkit-transform: translate(597px, 106px) rotate(236deg);
      transform: translate(597px, 106px) rotate(236deg);
    }
  
    5% {
      -webkit-transform: translate(567px, 84px) rotate(232deg);
      transform: translate(567px, 84px) rotate(232deg);
    }
  
    10% {
      -webkit-transform: translate(537px, 66px) rotate(227deg);
      transform: translate(537px, 66px) rotate(227deg);
    }
  
    15% {
      -webkit-transform: translate(507px, 51px) rotate(223deg);
      transform: translate(507px, 51px) rotate(223deg);
    }
  
    20% {
      -webkit-transform: translate(477px, 39px) rotate(219deg);
      transform: translate(477px, 39px) rotate(219deg);
    }
  
    25% {
      -webkit-transform: translate(447px, 29px) rotate(215deg);
      transform: translate(447px, 29px) rotate(215deg);
    }
  
    30% {
      -webkit-transform: translate(417px, 21px) rotate(212deg);
      transform: translate(417px, 21px) rotate(212deg);
    }
  
    35% {
      -webkit-transform: translate(388px, 15px) rotate(208deg);
      transform: translate(388px, 15px) rotate(208deg);
    }
  
    40% {
      -webkit-transform: translate(358px, 11px) rotate(206deg);
      transform: translate(358px, 11px) rotate(206deg);
    }
  
    45% {
      -webkit-transform: translate(328px, 9px) rotate(203deg);
      transform: translate(328px, 9px) rotate(203deg);
    }
  
    50% {
      -webkit-transform: translate(298px, 8px) rotate(200deg);
      transform: translate(298px, 8px) rotate(200deg);
    }
  
    55% {
      -webkit-transform: translate(268px, 9px) rotate(197deg);
      transform: translate(268px, 9px) rotate(197deg);
    }
  
    60% {
      -webkit-transform: translate(238px, 11px) rotate(193deg);
      transform: translate(238px, 11px) rotate(193deg);
    }
  
    65% {
      -webkit-transform: translate(208px, 15px) rotate(190deg);
      transform: translate(208px, 15px) rotate(190deg);
    }
  
    70% {
      -webkit-transform: translate(179px, 21px) rotate(187deg);
      transform: translate(179px, 21px) rotate(187deg);
    }
  
    75% {
      -webkit-transform: translate(149px, 28px) rotate(183deg);
      transform: translate(149px, 28px) rotate(183deg);
    }
  
    80% {
      -webkit-transform: translate(120px, 37px) rotate(179deg);
      transform: translate(120px, 37px) rotate(179deg);
    }
  
    85% {
      -webkit-transform: translate(89px, 49px) rotate(175deg);
      transform: translate(89px, 49px) rotate(175deg);
    }
  
    90% {
      opacity: 1;
      -webkit-transform: translate(59px, 64px) rotate(170deg);
      transform: translate(59px, 64px) rotate(170deg);
    }
  
    95% {
      -webkit-transform: translate(29px, 82px) rotate(165deg);
      transform: translate(29px, 82px) rotate(165deg);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translate(0px, 104px) rotate(160deg);
      transform: translate(0px, 104px) rotate(160deg);
    }
  }
  
  
  @keyframes svgAnimate-2 {
    0% {
      opacity: 1;
      -webkit-transform: translate(597px, 106px) rotate(236deg);
      transform: translate(597px, 106px) rotate(236deg);
    }
  
    5% {
      -webkit-transform: translate(567px, 84px) rotate(232deg);
      transform: translate(567px, 84px) rotate(232deg);
    }
  
    10% {
      -webkit-transform: translate(537px, 66px) rotate(227deg);
      transform: translate(537px, 66px) rotate(227deg);
    }
  
    15% {
      -webkit-transform: translate(507px, 51px) rotate(223deg);
      transform: translate(507px, 51px) rotate(223deg);
    }
  
    20% {
      -webkit-transform: translate(477px, 39px) rotate(219deg);
      transform: translate(477px, 39px) rotate(219deg);
    }
  
    25% {
      -webkit-transform: translate(447px, 29px) rotate(215deg);
      transform: translate(447px, 29px) rotate(215deg);
    }
  
    30% {
      -webkit-transform: translate(417px, 21px) rotate(212deg);
      transform: translate(417px, 21px) rotate(212deg);
    }
  
    35% {
      -webkit-transform: translate(388px, 15px) rotate(208deg);
      transform: translate(388px, 15px) rotate(208deg);
    }
  
    40% {
      -webkit-transform: translate(358px, 11px) rotate(206deg);
      transform: translate(358px, 11px) rotate(206deg);
    }
  
    45% {
      -webkit-transform: translate(328px, 9px) rotate(203deg);
      transform: translate(328px, 9px) rotate(203deg);
    }
  
    50% {
      -webkit-transform: translate(298px, 8px) rotate(200deg);
      transform: translate(298px, 8px) rotate(200deg);
    }
  
    55% {
      -webkit-transform: translate(268px, 9px) rotate(197deg);
      transform: translate(268px, 9px) rotate(197deg);
    }
  
    60% {
      -webkit-transform: translate(238px, 11px) rotate(193deg);
      transform: translate(238px, 11px) rotate(193deg);
    }
  
    65% {
      -webkit-transform: translate(208px, 15px) rotate(190deg);
      transform: translate(208px, 15px) rotate(190deg);
    }
  
    70% {
      -webkit-transform: translate(179px, 21px) rotate(187deg);
      transform: translate(179px, 21px) rotate(187deg);
    }
  
    75% {
      -webkit-transform: translate(149px, 28px) rotate(183deg);
      transform: translate(149px, 28px) rotate(183deg);
    }
  
    80% {
      -webkit-transform: translate(120px, 37px) rotate(179deg);
      transform: translate(120px, 37px) rotate(179deg);
    }
  
    85% {
      -webkit-transform: translate(89px, 49px) rotate(175deg);
      transform: translate(89px, 49px) rotate(175deg);
    }
  
    90% {
      opacity: 1;
      -webkit-transform: translate(59px, 64px) rotate(170deg);
      transform: translate(59px, 64px) rotate(170deg);
    }
  
    95% {
      -webkit-transform: translate(29px, 82px) rotate(165deg);
      transform: translate(29px, 82px) rotate(165deg);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translate(0px, 104px) rotate(160deg);
      transform: translate(0px, 104px) rotate(160deg);
    }
  }
  
  
  .flare-1 {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
    -webkit-animation-name: svgAnimate-1;
    animation-name: svgAnimate-1;
    opacity: 0;
  }
  
  .flare-2 {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
    -webkit-animation-name: svgAnimate-2;
    animation-name: svgAnimate-2;
    opacity: 0;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes dot {
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }
  
  
  @keyframes dot {
    50% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }
  
  
  .features-animation {
    .dot-1 {
      -webkit-animation-name: dot;
      animation-name: dot;
    }
    .dot-2 {
      -webkit-animation-name: dot;
      animation-name: dot;
      -webkit-animation-delay: .2s;
      animation-delay: .2s;
    }
    .dot-3 {
      -webkit-animation-name: dot;
      animation-name: dot;
      -webkit-animation-delay: .4s;
      animation-delay: .4s;
    }
    .animated-dot {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
    .fadeInMessage {
      -webkit-animation-name: fadeInMessage;
      animation-name: fadeInMessage;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      transform-box: fill-box;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .fadeOutMessage {
      -webkit-animation-name: fadeOutMessage;
      animation-name: fadeOutMessage;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      transform-box: fill-box;
    }
    .fadeInDownMessage {
      -webkit-animation-name: fadeInDownMessage;
      animation-name: fadeInDownMessage;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 5s;
      animation-delay: 5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      transform-box: fill-box;
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeInMessage {
    from {
      -webkit-transform: translate(65px, -65px) scale(0.5);
      transform: translate(65px, -65px) scale(0.5);
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes fadeInMessage {
    from {
      -webkit-transform: translate(65px, -65px) scale(0.5);
      transform: translate(65px, -65px) scale(0.5);
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @-webkit-keyframes fadeOutMessage {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate(45px, -10px) scale(0.5);
      transform: translate(45px, -10px) scale(0.5);
    }
  }
  
  
  @keyframes fadeOutMessage {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate(45px, -10px) scale(0.5);
      transform: translate(45px, -10px) scale(0.5);
    }
  }
  
  
  @-webkit-keyframes fadeInDownMessage {
    from {
      opacity: 0;
      -webkit-transform: translate(50px, -60px) scale(0.5);
      transform: translate(50px, -60px) scale(0.5);
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes fadeInDownMessage {
    from {
      opacity: 0;
      -webkit-transform: translate(50px, -60px) scale(0.5);
      transform: translate(50px, -60px) scale(0.5);
    }
  
    to {
      opacity: 1;
    }
  }
  

  
  .home-header {
    height: 100vh;
    position: relative;
  }
  
  @media (max-height: 580px) {
    .home-header {
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .home-header {
      height: 100%;
    }
  }
  
  .home-nav-bar {
    margin-bottom: 12vh;
  }
  
  @media (max-width: 1200px) {
    .home-nav-bar {
      margin-bottom: 8vh;
    }
  }
  
  @media (max-width: 768px) {
    .home-nav-bar {
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 1200px) {
    .home-nav {
      margin-top: 4vh;
    }
  }
  
  .home-title {
    width: 100%;
    margin: 0 auto 3vh;
    font-size: 44px;
  }
  
  @media (max-width: 768px) {
    .home-title {
      margin: 0 auto 20px;
      font-size: 26px;
    }
  }
  
  .subtitle {
    margin-bottom: 3.8vh;
    font-size: 23px;
  }
  
  @media (max-width: 768px) {
    .subtitle {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }
  
  .home-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 9vh;
    .home-btn:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .home-buttons {
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .home-buttons .home-btn:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  .home-img {
    text-align: center;
        height: 38vh;
        min-width: 320px;
        max-width: 100%;
/*         position: absolute;
 */   /*      bottom: 3%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);  */
  }
  
  @media (max-height: 700px) {
    .home-img {
      height: 32vh;
      bottom: 0;
    }
  }
  
  @media (max-width: 1200px) {
    .home-img {
      height: 33vh;
    }
  }
  
  @media (max-height: 580px) {
    .home-img {
      position: static;
      height: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  
  @media (max-width: 768px) {
    .home-img {
      position: static;
      height: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  
  .checklist-item {
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0;
    position: relative;
    padding-left: 40px;
}

.checklist-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 19px;
  background: url("assets/images/checkmark.svg");
}

ol, ul {
  list-style: none;
}

