 
  .checklist-item {
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0;
    position: relative;
    padding-left: 40px;
}

.checklist-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 19px;
  background: url("/assets/images/checkmark.jpg");
}

ol, ul {
  list-style: none;
}

