
@import './fonts';
@import './variables';
@import './mixins';


@import "~ng-snotify/styles/material";


.snotify-icon {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

body {
  font-family: $font-stack;
}

h1 {
  @include title;
  font-size: 48px;
  line-height: 57px;
}

h2 {
  @include title;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
}

h3 {
  @include title;
  font-size: 42px;
  font-weight: 500;
  line-height: 33px;
  color: $primary;
  margin-bottom: 50px;
}

.text {
  color: white;
  line-height: 30px;
}

.line-breaker {
  white-space: pre-line;
}

 
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 45px;
  text-align: center;
}

@media (max-width: 640px) {
  .container {
    padding: 0 15px;
  }
}