

<div class="flex-container">

  <div class="row lecture-sidebar" *ngIf="dataLoaded">
    
    <div class="col-sm-12 course-section">
      <div class="section-title">
        Velkommen
      </div>
      <ul class="section-list">

        <div *ngFor="let lecture of lectures">
            <li class="section-item incomplete"  *ngIf="lecture.section == 1">
                <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                  <span class="status-container" appStatus [completed]="isCompleted(lecture.id)" [current]="isCurrent(lecture.id)">
                    <span class="status-icon">
                      &nbsp;
                    </span>
                  </span>
                  <div class="title-container">
                    <span class="lecture-icon">
                      <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="lecture-name">
                      {{lecture.name}} 
                    </span>
                  </div>
                </a>
              </li>    
        </div>
       </ul>
    </div>
    
    <div class="col-sm-12 course-section">
      <div class="section-title" >
        Real life perspective
      </div>
      <ul class="section-list">
        
        <div *ngFor="let lecture of lectures">
          <li class="section-item"  *ngIf="lecture.section == 2">
              <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                <span class="status-container" appStatus [completed]="isCompleted(lecture.id)" [current]="isCurrent(lecture.id)">
                  <span class="status-icon completed">
                    &nbsp;
                  </span>
                </span>
                <div class="title-container">
                  <span class="lecture-icon">
                    <i class="fas fa-file-alt"></i>
                  </span>
                  <span class="lecture-name">
                    {{lecture.name}} 
                  </span>
                </div>
              </a>
            </li>    
      </div>

        
      </ul>
    </div>

    <div class="col-sm-12 course-section">
        <div class="section-title" >
          Test your knowledge
        </div>
        <ul class="section-list">
          
          <div *ngFor="let lecture of lectures">
            <li class="section-item incomplete"  *ngIf="lecture.section == 3">
                <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                  <span class="status-container">
                    <span class="status-icon">
                      &nbsp;
                    </span>
                  </span>
                  <div class="title-container">
                    <span class="lecture-icon">
                      <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="lecture-name">
                      {{lecture.name}} 
                    </span>
                  </div>
                </a>
              </li>    
        </div>
  
          
        </ul>
    </div>
    
    <div class="col-sm-12 course-section">
          <div class="section-title" >
            Diving into CS:GO
          </div>
          <ul class="section-list">
            
            <div *ngFor="let lecture of lectures">
              <li class="section-item incomplete"  *ngIf="lecture.section == 4">
                  <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                    <span class="status-container">
                      <span class="status-icon">
                        &nbsp;
                      </span>
                    </span>
                    <div class="title-container">
                      <span class="lecture-icon">
                        <i class="fas fa-file-alt"></i>
                      </span>
                      <span class="lecture-name">
                        {{lecture.name}} 
                      </span>
                    </div>
                  </a>
                </li>    
          </div>
    
    
            
          </ul>
    </div>
   
    <div class="col-sm-12 course-section">
        <div class="section-title" >
          Put it into practice
        </div>
        <ul class="section-list">
          
          <div *ngFor="let lecture of lectures">
            <li class="section-item incomplete"  *ngIf="lecture.section == 5">
                <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                  <span class="status-container">
                    <span class="status-icon">
                      &nbsp;
                    </span>
                  </span>
                  <div class="title-container">
                    <span class="lecture-icon">
                      <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="lecture-name">
                      {{lecture.name}} 
                    </span>
                  </div>
                </a>
              </li>    
        </div>
   
        </ul>
    </div>

    <div class="col-sm-12 course-section">
        <div class="section-title" >
          Summary
        </div>
        <ul class="section-list">
          
          <div *ngFor="let lecture of lectures">
            <li class="section-item incomplete"  *ngIf="lecture.section == 6">
                <a class="item" routerLink='./lectures/{{lecture.id}}' routerLinkActive="active-link">
                  <span class="status-container">
                    <span class="status-icon">
                      &nbsp;
                    </span>
                  </span>
                  <div class="title-container">
                    <span class="lecture-icon">
                      <i class="fas fa-file-alt"></i>
                    </span>
                    <span class="lecture-name">
                      {{lecture.name}} 
                    </span>
                  </div>
                </a>
              </li>    
        </div>
  
        </ul>
    </div>
  </div>

<!-- Page Content  -->
<div id="content">

  <nav class="navbar">
    <!-- If first show next-->
    <div *ngIf="isFirst()">
        <button (click)="next()">Next and complete</button>
    </div>

    
    <!-- If in between show prev/next-->
    <div *ngIf="isInBetween()">
        <button (click)="previous()">Prev</button>
        <button (click)="next()">Next and complete</button>
    </div>

    <!-- If last show prev/complete-->
    <div *ngIf="isLast()">
        <button (click)="complete()">Complete</button>
    </div>

  </nav>

  <pre>{{isEnrolled}}</pre>
  <pre>{{isLoggedIn}}</pre>

  <div *ngIf="!isEnrolled || !isLoggedIn">
    <app-locked-content (enrolled)="enrollUser($event)"></app-locked-content>
  </div>

    <router-outlet></router-outlet>


</div>
</div>