


<div class="large-container">
	<div class="container hero">
			<div class="info">
					<h1>Boost your CS:GO <br> performance</h1>	
					<h2>We combine esport with real life skills</h2>
					<div class="call-to-actions">
					<a class="btn btn-primary" role="button" routerLink="/gamertest">Take gamertest</a>
							<a class="btn btn-secondary" role="button" routerLink="/courses/communication-in-csgo">Try course</a>
					</div>
				</div>
		
				<div class="content">
					 <div class="box">
							<img src="/assets/images/course-preview.jpg" alt="Hero banner">
					 </div>
				</div>
	</div>
</div>

<section class="read-more">
		<button (click)="scrollTestimonial()" class="btn-circle"><fa-icon [icon]="['fas', 'angle-down']" size="2x"></fa-icon></button>
</section>
    
  <!-- Testimonials -->
  <div class="container" id="testimonials">
      <h2 class="section-header" style="margin-top: 50px;">Other People Say</h2>
  
    <div class="testimonial-wrapper">
      <div class="testimonial-card">
        <div class="card-up info-color">
            <h4>Malthe 'Chenni'</h4>
        </div>
        <div class="card-body">
            <p><fa-icon [icon]="['fas', 'quote-left']" class="p-right"></fa-icon>I think it's a cool site with trusthworthy videos. As a whole the concept is really neat.</p>
        </div>
      </div>
  
      <div class="testimonial-card">
        <div class="card-up info-color">
            <h4>Oskar 'Altis Petrovich'</h4>
        </div>
        <div class="card-body">
						
            <p><fa-icon [icon]="['fas', 'quote-left']" class="p-right"></fa-icon>It's cool that some people spend their time making good guides.</p>
        </div>
      </div>
  
      <div class="testimonial-card">
        <div class="card-up info-color">
            <h4>Sebastian 'Toast'</h4>
        </div>
        <div class="card-body">
            <p><fa-icon [icon]="['fas', 'quote-left']" class="p-right"></fa-icon>By gamers for gamers. If you don’t know what to do, start here!</p>
        </div>
      </div>
  
      <div class="testimonial-card">
        <div class="card-up info-color">
            <h4>Tobias 'donotbemad'</h4>
        </div>
        <div class="card-body">
            <p><fa-icon [icon]="['fas', 'quote-left']" class="p-right"></fa-icon>The education is suited well for both young people and grownups.</p>
        </div>
      </div>
  
    </div>
  </div>
  
  
    <section class="features">
      <h2 class="section-header features-header">FEATURES</h2>
      <div class="container">
        <div class="features-nav" [class.fixed-nav]="fixed">
          <nav class="features-nav-inner">
            <ul class="features-nav-list">
              <li class="features-nav-link section-1-link active">
                <a (click)="scrollToElement(section1)">
									<fa-icon [icon]="['fas', 'code-branch']" class="feature-icon"></fa-icon>
                  <p class="features-link-text ">21st Century Skills</p>
                </a>
              </li>
              <li class="features-nav-link section-2-link">
                <a (click)="scrollToElement(section2)">
									<fa-icon [icon]="['fas', 'chalkboard-teacher']" class="feature-icon"></fa-icon>
                  <p class="features-link-text">Our educators</p>
                </a>
              </li>
              <li class="features-nav-link section-3-link">
                <a (click)="scrollToElement(section3)">
									<fa-icon [icon]="['fas', 'user-cog']" class="feature-icon"></fa-icon>
                  <p class="features-link-text">Tailored courses</p>
                </a>
              </li>
            </ul>
            <div class="features-separator">
              <div class="lavalamp" style="width: 146px; left: 57px;"></div>
            </div>
          </nav>
        </div>
      </div>
      <div class="features-content">
        <div id="section1" class="features-item" #section1>
          <div class="container">
            <div class="features-item-row">
              <div class="features-description">
                <h3 class="features-title">21st Century Skills</h3>
                <ul class="checklist">
                  <li>Get greater benefits from your efforts</li>
                  <li>Practice real life skills</li>
                </ul>
              </div>
							<div class="hexagon">
									<fa-icon [icon]="['fas', 'code-branch']" class="hexagon-icon"></fa-icon>
							</div>
            </div>
          </div>
        </div>
        <div id="section-2" class="features-item" #section2>
            <div class="container">
            <div class="row features-item-row">
                <div class="hexagon">
										<fa-icon [icon]="['fas', 'chalkboard-teacher']" class="hexagon-icon"></fa-icon>
								</div>
              <div class="features-description">
                <h3 class="features-title">Our educators</h3>
                <ul class="checklist">
                  <li>Handpicked among best</li>
                  <li>Highly skilled in their games</li>
                  <li>Solid ability to teach</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="section-3" class="features-item" #section3>
          <div class="container">
            <div class="row features-item-row">
              <div class="features-description">
                <h3 class="features-title">Tailored courses</h3>
                <ul class="checklist">
                  <li>Personalized course order</li>
                  <li>Learn at your level</li>
                  <li>Watch whenever you want</li>
                </ul>
              </div>
							<div class="hexagon">
									<fa-icon [icon]="['fas', 'user-cog']" class="hexagon-icon"></fa-icon>
							</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
   <div class="container" id="page-helpers">
      <div class="page-navigation">
        <div class="row page-navigation-row">
          <a class="page-link" routerLink="/gamertest">
            <p class="page-link-text page-link-text-left">Take our
              <span class="page-link-bold block">Gamertest</span>
            </p>
          </a>
          <a class="page-link" routerLink="/courses/communication-in-csgo">
            <p class="page-link-text page-link-text-right" >Try
              <span class="page-link-bold block">a free course</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  
