
<!--Component interaction https://angular.io/guide/component-interaction-->
<div class="row no-gutters">
    <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let course of courses">
        <app-course-card [course]="course" (viewcourse)="goCourse($event)"></app-course-card>
    </div>
</div>


<div class="row page-link-container">
    <div class="col">
          <a class="page-link" href="pricing.html">
            <p class="page-link-text page-link-text-left">SEE OUR
              <span class="page-link-bold block">Pricing</span>
            </p>
          </a>
        </div>
        <div class="col">
          <a class="page-link" href="how.html">
            <p class="page-link-text page-link-text-right">LEARN
              <span class="page-link-bold block">How it works</span>
            </p>
          </a>
        </div>
    </div>
      