

<!-- <footer class="footer">
    <div class="container text-center">
      <span class="text-muted">© 2018 - GamerPilot - Århus, Denmark - CVR: 39306085 - kontakt@gamerpilot.dk</span>
    </div>
  </footer> -->

<div class="container">
  <hr class="separator footer-separator">

  <div class="logo-block">
      <a href="#">
        <img src="/assets/images/gp-brand.png" alt="logo" class="logo">
      </a>
    </div>

    <span class="logo-text">GAMERPILOT</span>

    <nav class="footer-nav">
        <ul class="nav">
          <li class="nav-link active-link">
            <a href="index.html">Home</a>
          </li>
          <li class="nav-link">
            <a href="how.html">How it works</a>
          </li>
          <li class="nav-link">
            <a href="pricing.html">Pricing</a>
          </li>
          <li class="nav-link">
            <a href="https://docs.verifypayments.com">Documenta</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="signature">
        <span class="text-muted">© 2018 - GamerPilot - Århus, Denmark - CVR: 39306085 - kontakt@gamerpilot.dk</span>
    </div>
