
.footer-separator {
	margin: 80px 0 65px;
}

.separator {
	height: 1px;
	background: #DDEAE7;
	border: none;
}

.footer-nav {

}

.footer .logo-block {
	max-width: 230px;
	margin: 0 auto 130px;
}

.logo {
	max-width: 100%;
	max-height: 100px;
	padding-bottom: 10px;
}



.nav {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-flow: wrap;;
	
	@media (max-width: 1200px) {
		margin-top: 50px;
	}

	.nav-link {
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0;
		
		&:hover {
			cursor: pointer;
		}

		a {
			color: inherit;
			text-decoration: none;
			line-height: 45px;
		}
	}
}



.signature {
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}