<div class="container">
  <hr class="separator footer-separator">

	<div class="logo-block">
		<a href="#">
			<img src="/assets/images/gp-brand.png" alt="gamerpilot logo" class="logo">
		</a>
	</div>

	<span class="logo-text">GAMERPILOT</span>

	<nav class="footer-nav">
		<ul class="nav">
				<li class="nav-link">
					<a routerLink='/'>Home</a>
				</li>
				<li class="nav-link">
					<a routerLink='/gamertest'>GamerTest</a>
				</li>
				<li class="nav-link">
					<a routerLink='/courses'>Courses</a>
				</li>
				<li class="nav-link">
					<a routerLink='/learningbasis'>Learning Concept</a>
				</li>
		</ul>
	</nav>
</div>

<div class="signature">
	<span class="text-muted">© 2018 - GamerPilot - Århus, Denmark - CVR: 39306085 - kontakt@gamerpilot.dk</span>
</div>
