<div class="container" style="padding-top: 0;">
            
  <h1>Courses</h1>

  <div class="course-wrapper">

    <ng-container *ngIf="dataLoaded; else Loader" >     
      <div class="course-card" *ngFor="let course of courses; let i = index" (click)="goToCourse(course.isReleased, course.urlName)" [@listAnimationSlow]="courses.length">
          <div class="card-up info-color"></div>
          <div class="avatar">
              <div class="circle">                        
                  <i class="{{course.icon}} course-icon"></i>
              </div>
          </div>
          <div class="card-body">
              <h4>{{course.name}}</h4>
              <hr>
              <p>{{course.description}}</p>
              <p class="coming-soon" *ngIf="!course.isReleased">Coming soon</p>
          </div>
      </div>
    </ng-container>
      
    <ng-template #Loader>
      <div class="loader" *ngFor="let n of [0,1,2,3]"></div>
    </ng-template>    

  </div>
</div>



