<div class="wrapper">

	<div class="container">

		<div class="bg">

			<div class="header">

				<img src="/assets/images/gp-brand.png" alt="gamerpilot logo">

				<div *ngIf="showIntro">
					<p>
						Ever wondered what kind of gamer you are? We've created a gamer test in cooperation with a skilled psychologist
						to help you map
						your gaming profile. To ensure the most accurate result we encourage you to answer the questions as honest as
						possible.
					</p>
					<button class="btn-primary" (click)="start()">Begin test</button>
				</div>

				<div class="question-text" *ngIf="showQuestion()">
					{{questions[currentIndex].text}}
				</div>
			</div>

			<div class="content" *ngIf="!this.showIntro">



				<ng-container *ngIf="showQuestion()">

					<div class="table">
						<div class="radio-container">
							<label class="label">Very accurate</label>
							<label>
								<input type="radio" class="option-input radio" (change)="select('1')" name="radio" />
							</label>
						</div>
						<div class="radio-container">
							<label class="label">Moderately inaccurate</label>
							<label>
								<input type="radio" class="option-input radio" (change)="select('2')" name="radio" />
							</label> </div>
						<div class="radio-container">
							<label class="label">Neither</label>
							<label>
								<input type="radio" class="option-input radio" (change)="select('3')" name="radio" />
							</label> </div>
						<div class="radio-container">
							<label class="label">Moderatley accurate</label>
							<label>
								<input type="radio" class="option-input radio" (change)="select('4')" name="radio" />
							</label> </div>
						<div class="radio-container">
							<label class="label">Very inaccurate</label>
							<label>
								<input type="radio" class="option-input radio" (change)="select('5')" name="radio" />
							</label>
						</div>
					</div>

					<button class="btn-primary" (click)="next()" [disabled]="!hasValue">
						{{buttonText}}					
						<fa-icon [icon]="['fas', 'long-arrow-alt-right']" class="icon"></fa-icon>
					</button>

				</ng-container>

				<div *ngIf="generatingResult">
						<app-loading-spinner></app-loading-spinner>
						<p>Generating result..</p>
				</div>
			

				<div *ngIf="showResult" class="result">
					<p>{{result}}</p>
				</div>

			</div>

			<div class="progress" *ngIf="showQuestion() || showResult || generatingResult">
					<div appProgress [width]="progress" class="progress-bar" role="progressbar"></div>
			</div>

		</div>

	</div>


</div>