
<div class="wrapper">

  <div class="container">

      <div class="bg">

          <div class="header">
      
            <div class="progress">
							<p>1 / 5</p>
						</div>
						
            <div class="question">
              This is question one of many questions to come        
              
              <div class="radio-buttons">

                <app-test-checkbox (change)="setValue($event)" [label]="'meget uenig'" [value]=1></app-test-checkbox>
                <app-test-checkbox (change)="setValue($event)" [label]="'uenig'" [value]=2></app-test-checkbox>
                <app-test-checkbox (change)="setValue($event)" [label]="'ved ikke'" [value]=3></app-test-checkbox>
                <app-test-checkbox (change)="setValue($event)" [label]="'enig'" [value]=4></app-test-checkbox>
                <app-test-checkbox (change)="setValue($event)" [label]="'meget enig'" [value]=5></app-test-checkbox>

              </div>
            </div>
      
          </div>
            
				</div>
				
				<button class="btn next">Next</button>

  </div>


</div>
