
<div class="text-center">

    <h1>Kurser</h1>
  </div>

    <div class="row no-gutters wrapper justify-content-center">
        <div class="col-md-3 course parent" *ngFor="let course of courses; let i = index" routerLink="./{{course.urlName}}">
          <div class="panel panel-default child">
            <div class="panel-thumbnail">
              <img class="img-fluid mx-auto d-block" src="{{course.imageUrl}}" alt="slide {{i +1}}">
       
              <div class="carousel-caption d-none d-md-block">
                  <h5>{{course.name}}</h5>
                  </div>
            </div>   
          </div>
      </div>
    </div>


