<!-- INTRO -->
<div class="row no-gutters intro">
  <div class="col-md-12 text-center">
    <h1>We help gamers evolve while they play</h1>
  </div>
  <div class="col-md-7">

    <div class="block-white">
      <h3>
        E-sports as a learning medium
      </h3>
      <p class="text">
        In a digital world where gamers spend increasingly more time in front of the screen it is natural to question if they are
        wasting their time and better off doing other activites. E-sport is the future community for gamers who gather
        around the game, the competition, social intercourse and the healthy competetion. We believe e-sport is the key to
        activate and acknowledge a large group of gamers who are often overlooked. Research in computergaming among youngsters
        has established a clear connection between reflective use of games and an increased understanding of life skills
        such as problem solving, collaboration, linguistic skills and much more.
      </p>
      <p class="text">
        Through pedagogical correct and impactful e-sports coaching by skilled and certified e-instructors we establish a strong
        foundation for mental- and social health. All of our courses are based on a related life skill that we help the players
        evolve during their games hence providing them with a solid skillset that can be used in real life as well.
      </p>
    </div>
  </div>

  <div class="col-md-5" [@flyInOut]>
    <div class="card text-center">
      <div class="card-header">
        Our learning manifest
      </div>
      <div class="card-body">
        <div class="card-element">
					<fa-icon [icon]="['fas', 'angle-double-right']" class="card-icon"></fa-icon>
          Critical thinking <span style="font-style:italic">over</span> repetition
        </div>
        <div class="card-element">
						<fa-icon [icon]="['fas', 'angle-double-right']" class="card-icon"></fa-icon>
						Adaptability
          <span style="font-style:italic">over</span>
          habits
        </div>
        <div class="card-element">
						<fa-icon [icon]="['fas', 'angle-double-right']" class="card-icon"></fa-icon>
						Responsibility <span style="font-style:italic">over</span> immaturity
        </div>
        <div class="card-element">
						<fa-icon [icon]="['fas', 'angle-double-right']" class="card-icon"></fa-icon>
						Collaboration <span style="font-style:italic">over</span> conflict
        </div>
      </div>
    </div>

  </div>
</div>

<!-- LIFE SKILLS -->
<div class="row no-gutters life-skills text-center">
  <div class="col-md-4">
		<fa-icon [icon]="['fas', 'globe-americas']" class="globe-america"></fa-icon>

  </div>

  <div class="col-md-8">
    <div class="block-main">
      <h3>21st Century Skills</h3>
      <p class="text">
        21st century skills comprise skills, abilities, and learning dispositions that have been identified as being required for
        success in 21st century society and workplaces by educators, business leaders, academics, and governmental agencies.
        This is part of a growing international movement focusing on the skills required for students to master in preparation
        for success in a rapidly changing, digital society. Many of these skills are also associated with deeper learning,
        which is based on mastering skills such as analytic reasoning, complex problem solving, and teamwork. These skills
        differ from traditional academic skills in that they are not primarily content knowledge-based
      </p>

      <div class="row">
        <div class="col-md-4">
          <h4>Critical thinking</h4>
        </div>
        <div class="col-md-4">
          <h4>Problem solving</h4>
        </div>
        <div class="col-md-4">
          <h4>Communication</h4>
        </div>
        <div class="col-md-4">
          <h4>Collaboration</h4>
        </div>
        <div class="col-md-4">
          <h4>Creativity</h4>
        </div>
        <div class="col-md-4">
          <h4>Innovation</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-6 block-left">  
    <h3>Key concept in education</h3>
    <hr>
    <p class="text">
      No matter where you are in the world, there is one concept which is more important than ever, when you are exposed to education. 
      That concept is visible learning. Visible learning has one clear goal; to make education transparent for all.
      The idea behind visible learning is, that those who are being taught have a sense of perspective to where they are, where they are going and how they get there. 
    </p>
    <p class="text">
      At Gamerpilot we do the same. Visible learning is a cornerstone in all our video courses to 
      ensure the highest payout from our education. Our instructors are familiar with modern learning 
      theories as we strive to follow the same principles in our video courses as in any modern educational institution. 
    </p></div>

  <div class="col-md-6 block-right">
      <h3>Move on and beyond</h3>
      <hr>
      <p class="text">
        There is always a next step. No matter what level you are on, it is important to work with the right subjects to experience the 
        highest level of progression in your development. This concept is called the zone of proximal development and describes exactly
         that area you have to improve in order to be challenged just about right.
      </p>
      <p class="text">
        At Gamerpilot we sort all out videos by algorithms so that you always are presented to the next
         natural step in your development. By challenging you, we make sure that you experience actual 
         progression and that you are always aware what your next move is.
      </p>
  </div>


</div>


<!-- LEARNING CONCEPTS -->
<div class="row no-gutters container-white text-center" id="motivation">

  <div class="col-md-12 ">
    <div>
      <h1>Learning concepts</h1>
      <h2>We believe in a handful of learning concepts flourishing in a complex world</h2>
			<fa-icon [icon]="['fas', 'angle-double-down']" class="angle-double-down"></fa-icon>

			
    </div>

  </div>

  <div class="col-md-8">
    <div class="block-blue">
      <h3>Internal Motivation</h3>
      <p class="text">
        A rich literature of emotional intelligence studies and reports are clearly showing the advantages of being internally motivated
        to learn, as opposed to learning just for external motivations such as parental approval or performance on tests.
        When people have an emotional connection to what is being learned— a personal experience or question—learning can
        be sustained longer, understanding can become deeper, and what is learned can be retained longer. Studies of well-designed
        learning proj- ects geared to student interests and passions also show that internal motivation can contribute a
        great deal to active engagement, deeper understanding, and a desire to learn more
      </p>

    </div>
  </div>

  <div class="col-md-4">
		<fa-icon [icon]="['fas', 'child']" class="child"></fa-icon>
  </div>
</div>

<div class="row no-gutters container-deep text-center">

  <div class="col-md-4">
		<fa-icon [icon]="['fas', 'diagnoses']" class="diagnoses"></fa-icon>

  </div>

  <div class="col-md-8">
    <div class="block-white">
      <h3>Authentic Learning</h3>
      <p class="text">
        Context, or the conditions in which learning activities occur (the people, objects, symbols, and environment and how they
        all work together to support learning), are much more influential than previously thought. Transferring what is learned
        from one context to another (such as from the computerplay to the real world) is often not successful. Doing supermarket
        math problems on a test is different from mentally calculating price differences of three kinds and sizes of laundry
        soap in an actual store. The setting in which a new skill or piece of knowledge is learned strongly influences whether
        or not that skill or knowledge can be applied elsewhere. Simulating the real-world environment with media or by actually
        being in a place where that particular skill or knowledge is used in the world—supplying a more authentic context
        for learning— increases the chance that a lesson will be remembered and can be used in other similar situations.
        This finding suggests students need more real-world problem solving, internships or apprenticeships in real work
        settings, and other more authentic learning experiences to make learning last and be useful.
      </p>

    </div>
  </div>
</div>

<div class="row no-gutters container-eden text-center">
  <div class="col-md-8">
    <div class="block-white">
      <h3>Mental Model Building</h3>
      <p class="text">
        A great deal has been learned about how people build mental models, incorporate new experiences into these models, and change
        these models over time. We all start with less than accurate mental models of the world based on our experience (the
        Earth sure looks flat to me) and adjust them as we encounter new experiences that don’t quite fit (wow, the Earth
        looks like a giant floating blue-and-white marble in those photos from space). The building and changing of our mental
        models, and how we link our mental models together in our heads—our shifting systems view of the world—is much of
        what learning is all about.
      </p>
      <p class="text">

        Recognizing what you already know from past experience and what you currently believe from the latest versions of your mental
        models—are important first steps in the learning process. Unfortunately, in our haste to teach new material, the
        important step of helping learners reflect on their current mental models is often overlooked.
      </p>

      <p class="text">

        Building and manipulating external models, whether they’re physical ones (wood or LEGO blocks, robotic parts, and the like)
        or virtual ones (drawings on paper or screens, computer simulations like The Sims or Spore, virtual worlds like Second
        Life, videogames, and so on) help us visualize and further develop our internal mental models.
      </p>
      <p class="text">


        Both visceral (hands-on) and virtual (on-screen) modeling activities provide ways to make thinking visible, refl ecting the
        internal model making and learning going on inside our heads.
      </p>

    </div>
  </div>

  <div class="col-md-4">
			<fa-icon [icon]="['fas', 'boxes']" class="boxes"></fa-icon>
		</div>


</div>