@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/fonts';

.intro {
	background-color: $primary;
	padding-bottom: 100px;
	text-align: center;
	position: relative;

	&:before {
		width: calc(100% - 50%);
		content: " ";
		background: url("/assets/images/bg-dots.svg") repeat;
		position: absolute;
		height:100%; 
		z-index: 1;
	}
}

.row {
	display: flex;
	flex-direction: row;
	padding-left: 100px;
	padding-right: 100px;

	@media screen and (max-width: $mobile) {
		padding-left: 15px;
		padding-right: 15px;
		flex-direction: column;
	}


	.col {
		flex: 1;
	}

	.col-5 {
		flex: .5;
	}

	.col-4 {
		flex: .4;
		align-self: center;
		text-align: center;
	}
}

.skills {
	display: flex;
	flex-flow: wrap;
	flex-direction: row;

	@media screen and (max-width: $mobile) {
		flex-direction: column;
	}

	div {
		width: calc(100% / 3);
		text-align: center;

		h4 {
			font-size: 1.5rem;
		}
	}
}

.learning-concepts {
	text-align: center;
	padding-bottom: 50px;

	h1 {
		font-weight: 500;
	}

	.angle-double-down {
    color: $primary;
    font-size: 28px;
	}
}


.block-white {
    @include block;
    margin-top: 50px;
    border-left-color: #fff;
}

.block-white h3 {
    color: white;
}

.intro h1 {
    padding: 100px;
    color: white;
}

@media screen and (max-width: $mobile) {
    .intro h1 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.card {
	width: 320px;
	margin: auto;
	margin-top: 100px;
	border: none;
	border-radius: 5px;
	box-shadow: 10px 10px 40px 0 rgba(0,0,0,.6);
	z-index: 3;

	.card-header {
		background-color: $tertiary;
		color: white;
		font-size: 20px;
		padding: 15px;
	}

	.card-body {
		background-color: #f8f8f8;
		padding: 10px;
		padding-bottom: 25px;
	}

	.card-element {
		margin-top: 15px;
		text-align: left;
		margin-left: 15px;
	}

	.card-icon {
		color: $primary;
		font-size: 20px;
	}
}



/* LIFE SKILLS */

.life-skills {
    background-color: darken(white, 5%);
    padding: 50px;
		padding-bottom: 150px;
		text-align: center;
}

.globe-america {
    margin-top: 130px;
    font-size: 158px;
    color: $secondary;
}

.block-main {
    @include block;
    margin-top: 50px;
		border-left-color: $primary;
		
		h3 {
			color: $secondary;
			font-weight: bold;
		}

		p {
			color: $secondary;
		}
}


/* learning theories*/
.block-left {
    background-color: $primary;
    padding: 100px;
    margin-top: -50px;
		margin-bottom: 50px;
		
		@media screen and (max-width: $mobile) {
			padding: 15px;
		}
}

.block-left h3, .block-right h3 {
    color: white;
}

.block-right {
    background-color: $primary;
		padding: 100px;  
		
		@media screen and (max-width: $mobile) {
			padding: 15px;
		}
}

hr {
    border-color: white;
}



/* learning concepts */

.container-white {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	
	p {
		color: $secondary;
	}

	h1,h2,h3 {
		color: $primary;

	}
}

.container-grey {
	background-color: darken(white, 5%);
	padding-top: 50px;
	padding-bottom: 50px;

	h3 {
		color: $secondary;
		font-weight: bold;
	}

	p {
		color: $secondary;
	}	
}

.container-eden {
    background-color: $primary;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
}

.container-deep {
		background-color:$primary;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 150px;
		position: relative;

		
		&:after {
			content: "";
			width: 34px;
			height: 130px;
			left: 50%;
			transform: (-50%);
			bottom: 0;
			position: absolute;
			background: url("/assets/images/connector.svg") 0 0 no-repeat;
		}
}



.diagnoses {
    margin-top: 130px;
    font-size: 158px;
    color: white;
}


.block-white {
    @include block;
    margin-top: 50px;
    border-left-color: white;
}

.child {
	margin-top: 100px;
	font-size: 158px;
	color: $secondary;
		
	@media screen and (max-width: $mobile) {
		padding-bottom: 30px;
	}
}

.boxes {
    margin-top: 200px;
    font-size: 158px;
    color: white;
}



