

<div class="flex-container">
  <div class="flex-item row lecture-sidebar">
    
    <div class="col-sm-12 course-section">
      <div class="section-title">
        <span class="section-lock">
          <i class="fa fa-lock"></i>&nbsp;
        </span>
        Velkommen
      </div>
      <ul class="section-list">
        
        <li class="section-item incomplete next-lecture">
          <a class="item" routerLink='./introduction' routerLinkActive="active-link">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-lightbulb-o"></i>
              </span>
              <span class="lecture-name">
                Introduktion til kurset               
                  (0:38)             
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Velkommen til gamerens verden
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-lightbulb-o"></i>
              </span>
              <span class="lecture-name">
                Før du går videre
                
                  (0:19)
                
              </span>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
    
    <div class="col-sm-12 course-section">
      <div class="section-title" >
        <span class="section-lock">
          <i class="fa fa-lock"></i>&nbsp;
        </span>
        Spillene
      </div>
      <ul class="section-list">
        
        <li class="section-item incomplete">
          <a class="item" >
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Counter Strike (CS:GO)
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Leage of Legends (LoL)
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                New Lecture
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item" >
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                DOTA 2
                
              </span>
            </div>
          </a>
        </li>
        
        <li  class="section-item incomplete">
          <a class="item" >
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                FIFA
                
              </span>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
    
    <div class="col-sm-12 course-section">
      <div class="section-title" >
        <span class="section-lock">
          <i class="fa fa-lock"></i>&nbsp;
        </span>
        Kommunikations værktøjer og inspiration
      </div>
      <ul class="section-list">
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Introduktion til familiens kommunikation om gaming
                
              </span>
            </div>
          </a>
        </li>
        
        <li  class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Sproget i spillet
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Inspirations kort og billeder
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Gamer skemaet
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Mægliningsskemaet
                
              </span>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
    
    <div class="col-sm-12 course-section">
      <div class="section-title">
        <span class="section-lock">
          <i class="fa fa-lock"></i>&nbsp;
        </span>
        Psykologisk teori og viden om gaming
      </div>
      <ul class="section-list">
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Børns udvikling
                
              </span>
            </div>
          </a>
        </li>
        
        <li  class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Positive effekter
                
              </span>
            </div>
          </a>
        </li>
        
        <li  class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Negative konsekvenser
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item" >
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Afledte effekter/social læring
                
              </span>
            </div>
          </a>
        </li>
        
        <li class="section-item incomplete">
          <a class="item">
            <span class="status-container">
              <span class="status-icon">
                &nbsp;
              </span>
            </span>
            <div class="title-container">
              <span class="lecture-icon">
                <i class="fa fa-file-text"></i>
              </span>
              <span class="lecture-name">
                Computerspil og læring
                
              </span>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
    
  </div>

<!-- Page Content  -->
<div id="flex-item content">

    <nav class="navbar">

            <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggle()">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>

   
    </nav>

    <div *ngIf="">

    </div>
    <router-outlet></router-outlet>
 



</div>
</div>