
<div class="radio">
	
		<span>{{label}}</span>

  <label (click)="setCheckbox()">
    <input type="radio" name="value" />
    <div class="circle">
      <div class="circle--inner circle--inner__1" ></div>
      <div class="circle--inner circle--inner__2" ></div>
      <div class="circle--inner circle--inner__3" ></div>
      <div class="circle--inner circle--inner__4" ></div>
      <div class="circle--inner circle--inner__5" ></div>
      <div class="circle--outer" ></div>
    </div>
	</label>

</div>
