@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/fonts';

$text-light: hsl(24, 12%, 30%);
$text-dark: hsl(24, 24%, 11%);
$bg-light:hsl(24, 20%, 95%);
$border: hsl(24, 9%, 82%);
$bg-dark: hsl(24, 21%, 93%);
.auth-bg {
    background-color: $bg-light;
}

.auth-container {
    border: 1px solid $border;
    border-radius: 7px;
    border-top: 8px solid $tertiary;
    margin-top: 100px;
    margin-bottom: 250px;
    min-width: 400px;
    padding-top: 30px;

    position: relative;
    background-color: white;

    .content {
        padding: 0px 50px 50px 50px;
    }

    .title {
        color: $text-dark;
        font-size: 1.5rem;
    }

    .auth-footer {
        width: 100%;
        background-color: $bg-dark;
        padding: 25px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        p {
            color: $text-light;
            margin-bottom: 0;

            a {
                color: $text-dark;
                border-bottom: 2px solid $text-dark;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.field {
    margin-bottom: 15px;
}

#password, #email {
    border: none;
    border-radius: 5px;
    padding: 0 25px;
    color: #414351;
    font-size: 15px;
    border: 1px solid $bg-dark;
    -webkit-appearance: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    height: 48px;
    width: 100%;
    color: $text-light;
}

.text-danger {
    text-align: left;
    margin-top: 5px;
}

.btn-primary {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.93px;
    display: block;
    width: 100%;
    padding: 14px 0 14px;
    background-image: linear-gradient(45deg, $primary, $tertiary);
    color: #ffffff;
    border: none;
  
  @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.93px;
      width: 140px;
      height: 50px;
      padding: 20px 0 0 0;
  }

  &:hover {
    background-image: linear-gradient(-45deg, $primary 0%, $tertiary 100%);
  }
}

.error-txt {
    display: block;
    padding-top: 0px;
    padding-bottom: 10px;
    clear: both;
}

.is-valid {
    border-left: 8px solid $success;
}

.is-invalid {
    border-left: 8px solid $danger;
}

.link-box a {
    margin-top: 10px;
    padding-top: 15px;
    color: $primary;
    display: inline-block;

    &:first-of-type {
        margin-right: 10px;
    }
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    color: $text-light;
    padding-top: 2px;

    &:hover {
        cursor: pointer;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 5px;

    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: $primary;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark:after {
        left: 10px;
        top: 7px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }


  }
 