
<ng-container *ngIf="dataLoaded" [@flyInOut]> 

    <div class="container" *ngIf="lecture.lectureType == 1">
    <app-info [lecture]="lecture"></app-info>
    </div>

    <div class="container" *ngIf="lecture.lectureType == 2">
    <app-introduction [lecture]="lecture"></app-introduction>
    </div>

    <div class="container" *ngIf="lecture.lectureType == 3">
    <app-case [lecture]="lecture"></app-case>
    </div>

    <app-video *ngIf="lecture.lectureType == 4" [lecture]="lecture"></app-video>

    <div class="container" *ngIf="lecture.lectureType == 5">
    <app-quiz [lecture]="lecture" [url]="courseName"></app-quiz>
    </div>

    <div class="container" *ngIf="lecture.lectureType == 6">
    <app-exercises [lecture]="lecture"></app-exercises>
    </div>

    <div class="container" *ngIf="lecture.lectureType == 7">
    <app-summary [lecture]="lecture"></app-summary>
    </div>



</ng-container>