<h3>
    <p>{{lecture.name}}</p>
</h3>



<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Level</td>
            <td>{{lecture.level}}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{lecture.courseLength}}</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>{{lecture.language}}</td>
        </tr>
        <tr>
            <td>21st Century Skill</td>
            <td>{{lecture.lifeSkill}}</td>
        </tr>
        <tr>
            <td>Producers</td>
            <td>Anne Fiskali, Frederik 'Røj', GamerPilot</td>
        </tr>
    </tbody>
</table>