

<div class="video-wrapper">
  <div class="video-bar" *ngIf="hasVideos">
    <div class="video" *ngFor="let video of videos" (click)="selectVideo(video)" [ngClass]="selectedVideo.id == video.id ? 'active' : ''">
      <div class="placeholder">
				<fa-icon [icon]="['far', 'play-circle']" class="play-circle"></fa-icon>
      </div>
      <div class="video-info">
        <div class="title">{{video.name}}</div>
        <div class="author">{{video.instructorName}}</div>
      </div>
    </div>  
  </div>

  <div class="video-content">
		<app-flowplayer class="embed-responsive embed-responsive-16by9" [video]="selectedVideo"></app-flowplayer>
  </div>

</div>
