@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/fonts';

.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-align-items: stretch; 
    align-items: stretch; 
    flex-flow: wrap;
    margin-bottom: 50px;
    display: none;

    @media only screen and (min-width : 1200px) {
        display: inline-flex;
    }

    .video-box {
        width: 300px;
        min-height: 85px;
        padding: 5px;
        margin: 10px;
        text-align: center;
        color: #6cb29f;
        background-color: #e9ecef;
        box-shadow: 0 0.4rem 0.8rem -0.1rem rgba(0,32,128,.1), 0 0 0 1px #f0f2f7;
        border: 5px solid transparent;
        transition: .3s ease-in-out;
        position: relative;
        

        i {
            position: absolute;
            right: 5px;
            bottom: 5px;
            font-size: 28px;
        }

        &:hover {
            cursor: pointer;
            border: 5px solid #6cb29f;     
        }
    }
}

.links {
    display: none;

    a {
        cursor: pointer;
        display: block;
        margin-bottom: 1rem;
    }

 

    @media only screen and (max-width : 1200px) {
        display: block;
    }
}

.active-link {
    color: $tertiary !important;
}

.active {
    border-bottom: 5px solid #6cb29f !important;
}