@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/fonts';

.video-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .video-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        margin-top: 100px;
    }

}

.video-bar {
    width: 100%;
    background-color: #e8e8e8;
    padding-top: 0;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;


}

@media screen and (min-width: 768px) {
    .video-bar {
        width: 100%;
        justify-content: flex-start;
    }
  }

  .author {
    color: #4f4f4f;
    font-weight: 700;

  }

.video {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    flex-direction: row;
    
    &:hover {
        cursor: pointer;
    }

    &.active {
        border-bottom: 5px solid $tertiary;
    } 
}

.video:nth-child(even) {
    background-color: white;
}

.video-info, img {
    display: inline-block;
    
}

.video-info {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .video-info {
        display: none;
    }

}

.placeholder {
    width: 100px;
    height: 100px;
    background-color: #198669;
    position: relative;
}

.fa-play-circle {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}