@import '~sass/variables';
@import '~sass/mixins';
@import '~sass/fonts';



.card-container {
    padding: 100px;
}

@media only screen and (max-width: $mobile) {
    .card-container {
        padding: 20px;
    }
}
.card {
    border: none;
    cursor: pointer;
}

.card:hover {
    border: 1px solid $tertiary;
}

.coming-soon {
    position: absolute;
    top: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.card-icon {
    font-size: 120px;
    position: absolute;
    margin-top: -100px;
    color: $tertiary;
    right: 20px;
}

.card-body {
    background-color: lighten($secondary, 5%);
}

.card-text {
    color: white;
    font-size: 22px;
}