


<h3>{{lecture.name}}</h3>

<hr>

<div class="text-left">

    <p class="line-breaker">{{lecture.description}}</p>


    <div *ngFor="let section of sections" [@flyInOut]>

        <h4>
					<fa-icon [icon]="['fas', 'rocket']" class="rocket"></fa-icon>
					{{section.title}}
				</h4>  

        <div class="section-body">
            <p class="line-breaker">{{section.body}}</p>
          
        </div>
		</div>
		
		<div [@flyInOut]>

        <h4>
					<fa-icon [icon]="['fas', 'rocket']" class="rocket"></fa-icon>
					{{summary.title}}
				</h4>  

        <div class="section-body">
            <p class="line-breaker">{{summary.body}}</p>
          
        </div>
    </div>


</div>
