@import '~sass/variables';
@import '~sass/mixins';


nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0rem 4rem;

		@media (max-width: 768px) {
			padding: 1rem 4rem;
		}

		.logo {
			display: flex;
			align-items: center;
			margin-right: auto;
			img {
				max-height: 50px;
			}

			span {
				padding-left: 10px;
				color: $primary;
			}
		}

		.navs {
			display: flex;
			flex-direction: row;
			padding-left: 0;
		
			@media (max-width: 768px) {
				flex-direction: column;
				display: none;
				text-align: center;

				&.active {
					display: block;
					position: fixed;
					top: 60px;
					left: 0;
					right: 0;
					background-color: #ffffff;
					z-index: 10;
				}
			}

	
			.nav-btn {
				font-size: 14px;
				font-weight: 700;
				line-height: 1.4;
				letter-spacing: 0.93px;
				height: 40px;
				padding: 10px 23px;
				text-align: center;
				color: #032327;
				border: 1px solid #DFDFDF;
				opacity: 0.8;
				text-transform: uppercase;
				border-radius: 2px;
				min-width: 120px;			
				display: block;
				transition: all .3s ease-in-out;

				&:last-of-type {
					margin-left: 10px;
				}

				&:hover {
					border: 1px solid $primary;
					color: $primary;
				}
					
				@media (max-width: 768px) {
					display: none;
				}
				
			}

			li {
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0;
				padding: 0.5rem 1rem;
				margin-right: 20px;

				@media (max-width: 768px) {
					margin-right: 0;
					border-bottom: 1px solid #DDEAE7;
					width: 100%;
					font-size: 18px;
					color: #262935;
					line-height: 52px;
				}

				a {
					&:hover, &:focus {
						color: $primary;
					}
				}


				&.active-link {
					color: $primary;
					border-bottom: 5px solid $primary;
					@media (max-width: 768px) {
						border-bottom-width: 2px;
					}
					
				}		

				&.mobile {
					display: none;
					
					@media (max-width: 768px) {
						display: block;
					}
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
}

.burger {
	display: none;
	cursor: pointer;

	@media (max-width: 768px) {
		display: block;
	}

	.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $primary;
    margin: 6px 0;
		transition: 0.4s;
		
	}	

	&.active {
		.bar1 {
			transform: rotate(-45deg) translate(-9px, 6px);
		}
	}

	&.active {
		.bar2 {
			opacity: 0;
		}
	}

	&.active {
		.bar3 {
			transform: rotate(45deg) translate(-8px, -8px);
		}
	}
}
