<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul *ngIf="isAuthed" class="nav navbar-nav">
      <li class="active">
        <a routerLink="home" href="#">Home</a>
      </li>
      <li class="active">
        <a href="#">Kurser</a>
      </li>
      <li class="active">
        <a routerLink="/books" href="#">Books</a>
      </li>
      <li (click)="logout()"><a href="#">Logout</a></li>

    </ul>

    <ul *ngIf="!isAuthed" class="nav navbar-nav">
        <li class="active">
          <a routerLink="/home" href="#">Home</a>
        </li>
        <li class="active">
          <a  routerLink="/fetch-data" href="#">Login</a>
        </li>
        <li class="active">
          <a href="#">Signup</a>
        </li>
      </ul>
    </div>
</nav> -->
<h1 class="test">Test</h1>
<h2>COLOR ME</h2>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
      </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="#">Link on the Right</a>
      </li>
  </ul>
  </div>
</nav>