<nav *ngIf="showNav" class="navbar fixed-top navbar-expand-lg" id="navbar">

 <a class="navbar-brand" href="#">
    <img src="assets/images/gp-logo-c.png" class="d-inline-block align-top" height="30" alt="GamerPilot Logo">
  </a>

  <div (click)="toggleOverlay()" class="navbar-toggler">
    <i *ngIf="!showOverlay" class="fas fa-bars nav-icon"  aria-expanded="false" aria-label="Toggle navigation"></i>


  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">



  <ul *ngIf="isAuthed" class="nav navbar-nav ml-auto" >
      <li class="nav-item">
          <a class="nav-link" href="#">Personlighedstest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logud</a>
  </li>
  </ul>

  <ul *ngIf="!isAuthed" class="nav navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink='/login'>Login</a>
      </li>
      <li class="nav-item highlight-link" >
          <a class="nav-link" [routerLink]="['/books']">Books</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Til forældre</a>
    </li>
 
</ul>
  </div>
</nav>


<!-- The overlay -->
<div id="myNav" class="overlay" *ngIf="showOverlay">

  <a href="javascript:void(0)" class="closebtn" (click)="toggleOverlay()">&times;</a>

  <!-- Overlay content -->
  <div *ngIf="isAuthed" class="overlay-content">
    <a href="#">Personlighedstest</a>
    <a href="#">Books</a>
    <a href="#">Logud</a>
    <a href="#">Contact</a>
  </div>

  <div *ngIf="!isAuthed" class="overlay-content">
      <a href="#">Home</a>
      <a href="#">Kursus</a>
      <a href="#">Til forældre</a>
    </div>

</div>
