@import '~sass/variables';
@import '~sass/mixins';


.home-header {
  display: block;
  position: relative;
}

.header {
  text-align: center;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.home-nav-bar {
  margin-bottom: 6vh;
}

.header-nav-bar {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 100px 0;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav {
  margin-left: auto;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  cursor: pointer;
}

.active-link {
  color: #4BC16B;
}

.nav-link:hover {
  color: #4BC16B;
}

.nav-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.93px;
  height: 40px;
  padding: 10px 23px;
  color: #032327;
  border: 1px solid #DFDFDF;
  opacity: 0.8;
/*   margin-right: 10px; */
}

/* @media (max-width: 1200px) {
  .nav-btn {
    margin-left: 10px !important;
  }
} */

.nav-btn {
  margin-left: 10px !important;
}

.nav-btn:hover {
  border: 1px solid #70DA93;
  color: #00B275;
}

.main-nav {
  margin-left: auto;
}

.header-logo {
  max-height: 50px;
}

.btn {
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.logo-text {
  padding-left: 10px;
}

.sign-link-mobile {
  display: none;
}

@media (max-width: 768px) {

.nav-link:not(:last-child) {
  margin-right: 0 !important;
  border-bottom: 1px solid #DDEAE7;
}

.sign-link-mobile {
  display: block;
}

.nav-link {
  font-size: 18px;
  color: #032327;
  line-height: 52px;
}

.logo-text {
  padding-left: 0;
  padding-top: 3px;
}

.active.main-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  background-color: #ffffff;
  z-index: 10;
}

.main-nav {
  display: none;
}

.header-logo-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
}

.header-logo {
  max-height: 50px;
  margin-bottom: 5px; 
}

.sign-link-desktop {
  display: none; 
} 

.sign-link-mobile {
  display: inline-block; 
}

.active.main-nav .close-btn {
  display: block;
  right: 40px;
  position: absolute;
}

.mobile-menu-toggle {
  display: block !important;
  right: 50px;
  top: 30px;
  position: absolute;
}

.nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
}

} /* mobile end */

@media (max-width: 1200px) {
.main-nav {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.nav {
  margin-top: 50px;
}
} /* desktop end */


